services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: characters_api_sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${DB_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P ${DB_PASSWORD} -Q "SELECT 1" -C
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - app_network

  redis_cache:
    image: redis:alpine
    container_name: characters_api_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network

  redis_commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_ui
    environment:
      - REDIS_HOSTS=local:redis_cache:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis_cache
    networks:
      - app_network

volumes:
  sqlserver_data:
  redis_data:

networks:
  app_network:
    driver: bridge